@using TotalModel.Models;
@using TotalPortal.Configuration;

@model TotalPortal.Areas.Sales.ViewModels.DeliveryAdviceViewModel

@(Html.Kendo().Grid<Promotion>()
    .Name("gridPromotion")
    .Columns(columns =>
    {
        columns.Bound(c => c.Code).Title("Mã chương trình").Width(18);
        columns.Bound(c => c.Name).Title("Tên chương trình").Width(22);

        columns.Bound(c => c.DiscountPercent).Title("% CK").Width(9).Format("{0:n0}");
        columns.Bound(c => c.Remarks).Title("Ghi chú").Width(16);
    })
    .ToolBar(toolbar =>
        {
            toolbar.Template(@<text>
                <div class="toolbar">
                    @Html.EditorFor(d => d.Customer, "AutoCompletes/CustomerBase")
                </div>
            </text>);
        })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
    .Read(read => read.Action("GetPromotionByCustomers", "PromotionAPIs", new { area = "Commons" }).Data("onGetPromotionByCustomers"))
    .ServerOperation(true))
    .Selectable()
)



<script type="text/javascript">
    function onGetPromotionByCustomers(e) {
        return {
            customerID: $("#Customer_CustomerID").val()
        };
    }

    $("#Customer_CustomerID").change(function (e) {
        $("#gridPromotion").data("kendoGrid").dataSource.read();
    })

    $("#gridPromotion").dblclick(function (e) {
        okButton_Click();
    })
</script>

<style>
    .form-group {
        margin-top: 0px;
    }

    .right-first-panel {
        width: 42%;
    }

    .right-second-panel-small {
        width: 16%;
    }


    .right-panel-label-icon-only {
        width: 28px;
    }

    .right-panel-label-larger-width {
        width: 84%;
    }

    .right-panel-label-double-height {
        width: 28px;
        height: 100%;
    }

    .customer-description-label {
        width: 92%;
        padding-top: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    #customer-description-icon {
        visibility: visible;
    }
    .customerBase_AutoComplete {
        width: 93%;
    }
</style>