.custom-header {
    width: 723px;
}

    .custom-header > span {
        width: 75px;
    }

        .custom-header > span:first-child {
            width: 270px;
        }

        .custom-header > span:nth-child(3) {
            width: 115px;
        }

        .custom-header > span:last-child {
            width: 254px;
        }




.custom-body {    /*NO NEED TO SET, IT WILL BE SUM OF ALL SPAN COLUMN*/
    width: 713px;
}

.k-item > .custom-body > span {
    width: 75px;
    height: 23px;
}

    .k-item > .custom-body > span:first-child {
        width: 270px;
    }

    .k-item > .custom-body > span:nth-child(3) {
        width: 115px;
    }


    .k-item > .custom-body > span:last-child {
        padding-right: 2px;
        width: 222px;
    }
