@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<PendingDeliveryAdvice>()
    .Name("pendingDeliveryAdviceGrid")
    .Columns(columns =>
    {
        columns.Bound(c => c.DeliveryAdviceReference).Title("Số phiếu").Width(40);
        columns.Bound(c => c.DeliveryAdviceEntryDate).Title("Ngày").Width(90).Format("{0:" + SettingsManager.DateTimeFormat + "}");
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(150);
        columns.Bound(c => c.ReceiverCode).Title("Mã ĐVN").Width(90);
        columns.Bound(c => c.ReceiverName).Title("Đơn vị nhận").Width(150);
        columns.Bound(c => c.Description).Title("Ghi chú").Width(50);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>            
            <div class="toolbar" style="float: right;">
                <label>Nhập số phiếu ĐNGH/ hoặc mã, tên hoặc MST khách hàng</label>
                <input id="deliveryAdviceSearchTextBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="deliveryAdviceSearchTextBox_KeyUp()" />
            </div>
        </text>);
    })
        .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
        .DataSource(ds => ds.Ajax()
            .Read(read => read.Action("GetDeliveryAdvices", "GoodsIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetDeliveryAdvices"))
            .ServerOperation(true)
        )
        .Selectable()
)

@Html.Hidden("deliveryAdviceSearchText", "")

<script type="text/javascript">
    function onAdditionalGetDeliveryAdvices(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            goodsIssueID: $("#GoodsIssueID").val(),
            searchText: $("#deliveryAdviceSearchText").val()
        };
    }

    function deliveryAdviceSearchTextBox_KeyUp() {
        if ($("#deliveryAdviceSearchTextBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#deliveryAdviceSearchText").val($("#deliveryAdviceSearchTextBox").val());
            $("#pendingDeliveryAdviceGrid").data("kendoGrid").dataSource.read();
        } else {
            if ($("#deliveryAdviceSearchText").val() != "") {
                $("#deliveryAdviceSearchText").val("");
                $("#pendingDeliveryAdviceGrid").data("kendoGrid").dataSource.read();
            }
        }
    }

    $("#pendingDeliveryAdviceGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>
