
@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<PendingDeliveryAdviceCustomer>()
    .Name("getCustomersGrid")

    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(160);
        columns.Bound(c => c.ReceiverCode).Title("Mã ĐVN").Width(80);
        columns.Bound(c => c.ReceiverName).Title("Đơn vị nhận").Width(160);
        columns.Bound(c => c.ReceiverAddressNo).Title("Địa chỉ").Width(190);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập tên khách hàng:</label>
                <input id="customerNameSearchBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="customerNameSearchBox_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetCustomers", "GoodsIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetCustomers"))
        .ServerOperation(true)
    )
    .Selectable()
)

<script type="text/javascript">
    function onAdditionalGetCustomers(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            goodsIssueID: $("#GoodsIssueID").val(),
            customerName: $("#customerNameSearchBox").val()
        };
    }

    function customerNameSearchBox_KeyUp() {
        if ($("#customerNameSearchBox").val().length === 0 || $("#customerNameSearchBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#getCustomersGrid").data("kendoGrid").dataSource.read();
        }
    }


    $("#getCustomersGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>