
@using TotalPortal.Configuration
@using TotalModel.Models;

@(Html.Kendo().Grid<PendingDeliveryAdviceCustomer>()
    .Name("pendingDeliveryAdviceCustomerGrid")

    .Columns(columns =>
    {
        columns.Bound(c => c.CustomerName).Title("Khách hàng").Width(160);
        columns.Bound(c => c.ReceiverCode).Title("Mã ĐVN").Width(80);
        columns.Bound(c => c.ReceiverName).Title("Đơn vị nhận").Width(160);
        columns.Bound(c => c.ReceiverBillingAddress).Title("Địa chỉ").Width(190);
    })
    .ToolBar(toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar" style="float: right;">
                <label>Nhập mã, tên hoặc MST khách hàng</label>
                <input id="deliveryAdviceCustomerSearchTextBox" class="k-textbox" style="text-align: center; margin-right: 13px;" onkeyup="deliveryAdviceCustomerSearchTextBox_KeyUp()" />
            </div>
        </text>);
    })
    .Scrollable(s => s.Height(SettingsManager.PopupContentHeight))
    .DataSource(ds => ds.Ajax()
        .Read(read => read.Action("GetCustomers", "GoodsIssueAPIs", new { area = "Inventories" }).Data("onAdditionalGetCustomers"))
        .ServerOperation(true)
    )
    .Selectable()
)

@Html.Hidden("deliveryAdviceCustomerSearchText", "")

<script type="text/javascript">
    function onAdditionalGetCustomers(e) {
        return {
            locationID: window.parent.requireConfig.pageOptions.LocationID,
            goodsIssueID: $("#GoodsIssueID").val(),
            searchText: $("#deliveryAdviceCustomerSearchText").val()
        };
    }

    function deliveryAdviceCustomerSearchTextBox_KeyUp() {
        if ($("#deliveryAdviceCustomerSearchTextBox").val().length >= "@SettingsManager.AutoCompleteMinLenght") {
            $("#deliveryAdviceCustomerSearchText").val($("#deliveryAdviceCustomerSearchTextBox").val());
            $("#pendingDeliveryAdviceCustomerGrid").data("kendoGrid").dataSource.read();
        } else {
            if ($("#deliveryAdviceCustomerSearchText").val() != "") {
                $("#deliveryAdviceCustomerSearchText").val("");
                $("#pendingDeliveryAdviceCustomerGrid").data("kendoGrid").dataSource.read();
            }
        }
    }


    $("#pendingDeliveryAdviceCustomerGrid").dblclick(function (e) {
        okButton_Click();
    })
</script>